.top-facade-content {
  margin: 90px 28px 28px 28px;
}

.bottom-facade-content {
  margin: 56px 28px 28px 28px;
  h4 {
    text-align: left;
  }

  select.InputElement {
    margin: 0;
    width: 115px;
  }
  .dropdown-icon-container {
    margin: 0;
    right: 160px;
  }
  .Label {
    width: 190px;
  }
}
